/* ==================== АДАПТАЦИЯ ПОД 1920px ==================== */

@media (max-width: 1920px) {
  /* СЕКЦИЯ 1: HERO */
  .hero__container {
    padding: 130px 280px 0 280px;
  }
  .hero__title {
    font-size: 80px;
    line-height: 98px;
    max-width: 700px;
  }
  .hero__btn {
    font-size: 32px;
    padding: 20px 40px;
    max-width: 480px;
  }
  .hero__desc {
    font-size: 28px;
    line-height: 38px;
  }
  .hero__text {
    margin-top: 220px;
  }
  .hero__logo-img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  /* Размеры фигур */
  .shape__img-1 {
    max-width: 180px;
    width: 100%;
  }
  .shape__img-2 {
    max-width: 147px;
    width: 100%;
  }
  .shape__img-3 {
    max-width: 150px;
    width: 100%;
  }
  .shape__img-4 {
    max-width: 105px;
    width: 100%;
  }
  .shape__img-5 {
    max-width: 110px;
    width: 100%;
  }
  .shape__img-6 {
    max-width: 300px;
    width: 100%;
  }
  .shape__img-7 {
    max-width: 68px;
    width: 100%;
  }
  .shape__img-8 {
    max-width: 147px;
    width: 100%;
  }
  .shape__img-9 {
    max-width: 170px;
    width: 100%;
  }
  .shape__img-10 {
    max-width: 315px;
    width: 100%;
  }
  /* Анимация декораций */
  @keyframes hero-animation {
    50% {
      transform: translateY(-17px) scale(1.05);
    }
  }
  /* Анимация ракеты */
  @keyframes raketa-animation {
    50% {
      transform: rotate(5.5deg) scale(1.08);
    }
  }

  /* СЕКЦИЯ 2: УСЛУГИ ПРОДВИЖЕНИЯ */
  .promotion__box {
    gap: 20px;
  }
  .promotion__item {
    height: 290px;
    padding: 15px 10px 20px 10px;
  }
  .promotion__item-title {
    font-size: 20px;
    line-height: 28px;
  }
  /* Шаблон для картинок */
  .promotion__item-img {
    max-width: 300px;
    width: 100%;
    max-height: 190px;
    height: 100%;
  }
  /* Картинки */
  .img-poisk {
    max-width: 270px;
  }
  .img-smm {
    max-height: 200px;
  }
  .img-kontekst {
    max-height: 200px;
  }
  .img-error {
    max-width: 320px;
    max-height: 190px;
  }

  /* СЕКЦИЯ 3: ПОРТФОЛИО */
  .sites__slider {
    padding: 10px 20px 35px 20px;
    gap: 25px;
  }
  .sites-slider-wrapper {
    max-width: 1000px;
    width: 100%;
  }
  .sites__item-title {
    font-size: 36px;
    line-height: 76px;
  }
  .sites__item-img {
    max-height: 580px;
  }
  .sites-slider-prev,
  .sites-slider-next {
    max-width: 40px;
    width: 100%;
  }
  .sites__btn {
    padding: 18px 45px;
    font-size: 24px;
    margin: 20px 0 8px 0;
  }

  /* СЕКЦИЯ 4: ЦЕНЫ */
  .prices__box {
    gap: 20px;
  }
  .prices__item {
    padding: 28px 20px 22px 20px;
  }
  .prices__item-title {
    font-size: 32px;
  }
  .prices__item-desc {
    padding-left: 25px;
    margin-top: 25px;
    gap: 18px;
  }
  .prices__item-text {
    font-size: 16px;
    line-height: 28px;
  }
  .prices__btn {
    padding: 8px 22px;
    font-size: 14px;
  }

  /* СЕКЦИЯ 5: АКЦИИ И ФОРМА */
  .stoks__content {
    gap: 20px;
  }
  .stoks__content-text {
    font-size: 28px;
    line-height: 38px;
  }
  .stoks__form {
    padding: 28px 60px 45px 60px;
  }
  .stoks__form-title {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .stoks__form-input,
  .stoks__form-text {
    margin-bottom: 32px;
    padding: 18px 15px;
  }
  .stoks__text {
    font-size: 13px;
    line-height: 22px;
  }
  .stoks__btn {
    margin-top: 22px;
    padding: 10px 20px;
    font-size: 28px;
    line-height: 46px;
  }

  /* СЕКЦИЯ 7: КОМПЛЕКС УСЛУГ */
  .complex__box {
    gap: 20px;
  }
  .complex__item {
    padding: 25px;
    max-width: 440px;
  }
  .complex__item-title {
    font-size: 22px;
    line-height: 30px;
    max-width: 240px;
  }
  .complex__wrap {
    width: 58px;
    height: 58px;
  }

  /* СЕКЦИЯ 8: ПРЕИМУЩЕСТВА ДЛЯ БИЗНЕСА */
  .business__items {
    gap: 20px;
  }
  .business__item {
    padding: 24px 28px;
  }
  .business__item-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .business__item-description {
    font-size: 18px;
    line-height: 30px;
  }

  /* СЕКЦИЯ 9: ГАРАНТИИ */
  .warranty__top {
    margin-bottom: 35px;
  }
  .warranty__title {
    margin-bottom: 65px;
  }
  .warranty__description {
    font-size: 28px;
    line-height: 38px;
    max-width: 620px;
  }
  .warranty__form {
    padding: 40px 35px;
    gap: 20px;
    margin-bottom: 35px;
  }
  .warranty__input,
  .free-promotion__input {
    height: 88px;
    padding: 18px 40px 12px 40px;
    font-size: 34px;
    line-height: 46px;
  }
  .warranty__input::placeholder,
  .free-promotion__input::placeholder {
    font-size: 34px;
    line-height: 46px;
  }
  .warranty__btn,
  .free-promotion__btn {
    height: 88px;
    padding: 14px 18px;
    font-size: 34px;
    line-height: 46px;
  }
  .warranty__text {
    font-size: 28px;
    line-height: 38px;
    max-width: 900px;
  }
  .warranty__icon {
    max-width: 490px;
    width: 100%;
  }

  /* СЕКЦИЯ 10: КАЛЬКУЛЯТОР */
  .calculator__top-icon {
    margin-right: 60px;
    max-width: 135px;
    width: 100%;
  }
  .calculator__number {
    padding: 12px 35px;
    max-width: 260px;
    font-size: 28px;
    line-height: 38px;
  }
  .calculator__items {
    top: 52px;
  }
  .calculator__item {
    padding: 18px 40px 28px 36px;
  }
  .calculator__item-title {
    font-size: 28px;
    line-height: 40px;
  }
  .calculator__item-description {
    font-size: 22px;
    line-height: 30px;
    max-width: 550px;
    margin-bottom: 25px;
  }
  .calculator__region {
    gap: 35px;
    margin-bottom: 35px;
  }
  .calculator__city-title {
    font-size: 22px;
  }
  .calculator__row-button {
    padding: 12px 22px;
    font-size: 28px;
    line-height: 38px;
  }

  /* СЕКЦИЯ 11: КЕЙСЫ */
  .cases__top {
    margin-bottom: 65px;
  }
  .cases__title {
    max-width: 800px;
  }
  .cases__content-item {
    padding: 14px 35px;
    max-width: 420px;
    font-size: 22px;
    line-height: 38px;
  }
  .cases__item {
    padding: 18px 48px 55px 36px;
  }
  .cases__item-box {
    gap: 30px;
  }
  .cases__item-left {
    max-width: 370px;
  }
  .cases__item-link,
  .cases__item-title {
    font-size: 22px;
    line-height: 28px;
  }
  .cases__toggle {
    margin: 48px 0;
    gap: 45px;
  }
  .cases__toggle-title {
    font-size: 22px;
    line-height: 28px;
  }
  .cases__text-before,
  .cases__text-after {
    font-size: 22px;
    line-height: 28px;
  }
  .cases__p-before,
  .cases__p-after {
    font-size: 22px;
    line-height: 46px;
  }
  .graf {
    margin-left: 30px;
  }
  .graf__title {
    font-size: 22px;
    line-height: 28px;
  }
  .graf__number {
    font-size: 22px;
  }
  .graf__column-numbers {
    gap: 14.5px;
  }
  .graf__item-line {
    width: 25px;
  }
  .graf__border-white,
  .graf__border-black {
    font-size: 20px;
    line-height: 45px;
  }
  /* Скриншот кейса */
  .cases__item-img {
    margin-top: 60px;
    max-width: 830px;
  }

  /* СЕКЦИЯ 12: ИНФОРМАЦИЯ */
  .information {
    margin-bottom: 140px;
  }
  .information__step {
    padding: 14px 35px;
    font-size: 22px;
    line-height: 38px;
  }
  .information__items {
    top: 52px;
  }
  .information__why {
    gap: 20px;
  }
  .information__because {
    padding: 14px 12px;
    gap: 14px;
  }
  .information__because-ball {
    max-width: 110px;
    height: 110px;
  }
  .information__icon {
    width: 75px;
    height: 75px;
  }
  .information__because-description {
    font-size: 18px;
    line-height: 26px;
    max-width: 260px;
  }

  /* СЕКЦИЯ 13: ЧТО ТАКОЕ SEO */
  .seo__back {
    height: 820px;
  }

  /* СЕКЦИЯ 14: БЛОГ */
  .blog__top {
    margin-bottom: 65px;
  }
  .blog__item {
    height: 390px;
    max-width: 430px;
  }
  .blog__item-title.big-title {
    font-size: 140px;
  }

  /* СЕКЦИЯ 15: ПРОДВИЖЕНИЕ БЕЗ ПРЕДОПЛАТЫ */
  .free-promotion__top {
    margin-bottom: 65px;
  }
  .free-promotion__title-img {
    margin-right: 80px;
    max-width: 210px;
    width: 100%;
  }
  .free-promotion__content {
    gap: 22px;
  }
  .free-promotion__item {
    height: 380px;
    padding: 32px;
    border-radius: 45px;
  }
  /* Шаблон для картинок */
  .free-promotion__item-img {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
  }
  /* 1 картинка */
  .free-promotion-one {
    max-width: 210px;
    max-height: 190px;
  }
  /* 2 картинка */
  .free-promotion-two {
    max-width: 250px;
    max-height: 190px;
  }
  /* 3 картинка */
  .free-promotion-three {
    max-width: 185px;
    max-height: 190px;
  }
  /* 4 картинка */
  .free-promotion-four {
    max-width: 350px;
    max-height: 110px;
  }
  /* 5 картинка */
  .free-promotion-five {
    max-width: 280px;
    max-height: 210px;
  }
  .free-promotion__item-description {
    line-height: 30px;
    font-size: 28px;
  }
  .free-promotion__step {
    padding: 14px;
  }
  .free-promotion__step-ball {
    width: 63px;
    height: 63px;
  }
  .free-promotion__step-number {
    font-size: 42px;
  }
  .free-promotion__promotion {
    padding: 20px 35px 40px 35px;
  }
  .free-promotion__promotion-title {
    line-height: 38px;
    font-size: 28px;
  }

  /* СЕКЦИЯ 16: ПАРТНЁРЫ */
  .partner__list-item {
    line-height: 50px;
    font-size: 26px;
    margin-bottom: 45px;
  }
  .partner__form {
    padding: 8px 130px 35px 130px;
  }
  .partner__form-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .partner__form-decor {
    line-height: 76px;
    font-size: 28px;
  }
  .partner__content-img{
    max-width: 400px;
    width: 100%;
  }
  .partner__list{
    max-width: 700px;
    padding-left: 50px;
  }
  .partner__input-row {
    gap: 22px;
    margin-bottom: 25px;
  }
  .partner__form-input,
  .partner__form-text {
    max-width: 540px;
    padding: 18px 15px;
    font-size: 18px;
  }
  .partner__form-text {
    max-width: 1040px;
    height: 65px;
    margin-bottom: 22px;
  }
  .partner__text {
    max-width: 500px;
    margin-bottom: 45px;
    font-size: 13px;
  }
  .partner__btn {
    font-size: 28px;
    padding: 18px 25px;
    max-width: 420px;
  }

  /* СЕКЦИЯ 17: КАК НАС НАЙТИ */
  .search__container {
    padding-top: 80px;
  }
  .search__title {
    font-size: 56px;
  }
  .search__span {
    font-size: 160px;
  }
  .search__text {
    font-size: 28px;
    line-height: 38px;
  }
  .search__text-description {
    margin-bottom: 45px;
  }
  .search__map {
    height: 580px;
  }
  .search__btn {
    font-size: 28px;
    padding: 18px 25px;
    max-width: 500px;
  }

  /* ИЗОБРАЖЕНИЯ */
  .work__back {
    width: 100%;
    height: auto;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 1600px ==================== */
@media (max-width: 1600px) {
  /* 1 СЕКЦИЯ */
  .hero__container {
    padding: 110px 220px 0 220px;
  }
  .hero__text {
    margin-top: 180px;
  }
  .hero__logo-img {
    max-width: 450px;
  }
  .hero__title {
    font-size: 75px;
    line-height: 90px;
  }
  /* Размеры фигур */
  .shape__img-1 {
    max-width: 165px;
  }
  .shape__img-2 {
    max-width: 130px;
  }
  .shape__img-3 {
    max-width: 135px;
  }
  .shape__img-4 {
    max-width: 95px;
  }
  .shape__img-5 {
    max-width: 100px;
  }
  .shape6 {
    top: 16%;
  }
  .shape__img-6 {
    max-width: 250px;
  }
  .shape__img-7 {
    max-width: 58px;
  }
  .shape__img-8 {
    max-width: 135px;
  }
  .shape__img-9 {
    max-width: 150px;
  }
  .shape10 {
    bottom: 0;
    right: 19%;
  }
  .shape__img-10 {
    max-width: 285px;
  }
  @keyframes raketa-animation {
    50% {
      transform: rotate(5.3deg) scale(1.06);
    }
  }
  .hero__button-row {
    margin-top: 65px;
    gap: 35px;
  }
  .hero__btn {
    font-size: 28px;
    line-height: 45px;
    padding: 15px 35px;
    max-width: 430px;
  }
  .hero__desc {
    font-size: 26px;
    line-height: 35px;
  }

  /* 2 СЕКЦИЯ */
  .promotion__box {
    gap: 15px;
  }
  .promotion__item {
    height: 270px;
  }
  .promotion__item-title {
    font-size: 18px;
    line-height: 26px;
  }
  .promotion__item-img {
    max-width: 255px;
    max-height: 180px;
  }

  /* 3 СЕКЦИЯ */
  .sites__item-title {
    font-size: 33px;
    line-height: 65px;
  }
  .sites__item-img {
    max-height: 520px;
  }
  .img-fix {
    height: 650px;
  }
  .sites-slider-prev,
  .sites-slider-next {
    max-width: 35px;
  }
  .sites__btn {
    font-size: 22px;
    padding: 16px 40px;
  }

  /* 4 СЕКЦИЯ */
  .prices__box {
    gap: 15px;
  }
  .prices__item {
    width: 240px;
    padding: 25px 18px 20px 18px;
  }
  .prices__item-desc {
    margin: 20px 0;
  }
  .prices__item-title {
    font-size: 28px;
  }
  .prices__item-text {
    font-size: 15px;
  }

  /* 5 СЕКЦИЯ */
  .stoks__content-text {
    font-size: 26px;
    line-height: 36px;
  }
  .stoks__form {
    padding: 25px 55px 40px 55px;
  }
  .stoks__form-title {
    font-size: 26px;
  }
  .stoks__btn {
    font-size: 26px;
  }

  /* 7 СЕКЦИЯ */
  .complex__box {
    gap: 18px;
  }
  .complex__item {
    max-width: 420px;
  }
  .complex__item-title {
    font-size: 21px;
    line-height: 28px;
  }

  /* 8 СЕКЦИЯ */
  .business__item {
    padding: 22px 26px;
  }
  .business__item-title {
    font-size: 21px;
  }
  .business__item-description {
    font-size: 17px;
  }

  /* 9 СЕКЦИЯ */
  .warranty__description {
    font-size: 26px;
    line-height: 36px;
    max-width: 600px;
    width: 100%;
  }
  .warranty__icon{
    max-width: 390px;
  }
  .warranty__input,
  .free-promotion__input {
    font-size: 32px;
    padding: 16px 40px 10px 40px;
    height: 80px;
  }
  .warranty__input::placeholder,
  .free-promotion__input::placeholder {
    font-size: 32px;
  }
  .warranty__btn,
  .free-promotion__btn {
    font-size: 30px;
    height: 80px;
  }
  .warranty__text {
    font-size: 26px;
  }

  /* 10 СЕКЦИЯ */
  .calculator__top-icon {
    max-width: 120px;
  }
  .calculator__number {
    width: 240px;
    font-size: 28px;
  }
  .calculator__item-title {
    font-size: 28px;
  }
  .calculator__city-title {
    font-size: 21px;
  }

  /* 11 СЕКЦИЯ */
  .cases__content-item {
    font-size: 21px;
    padding: 14px 32px;
  }
  .cases__item-title,
  .cases__item-link {
    font-size: 21px;
  }
  .cases__item-box{
    gap: 25px;
  }
  .cases__toggle{
    gap: 25px;
  }
  .cases__item-left{
    max-width: 340px;
  }
  .cases__toggle-title{
    font-size: 20px;
  }
  .graf{
    margin-left: 20px;
  }
  .graf__title,
  .graf__number {
    font-size: 21px;
  }
  .graf__border-black{
    max-width: 270px;
  }


  /* 12 СЕКЦИЯ */
  .information__step {
    font-size: 21px;
  }
  .information__because-description {
    font-size: 17px;
  }

  /* 14 СЕКЦИЯ */
  .blog__item-title.big-title {
    font-size: 130px;
  }

  /* 15 СЕКЦИЯ */
  .free-promotion__title-img {
    max-width: 190px;
  }
  .free-promotion__item-description {
    font-size: 26px;
  }

  /* 16 СЕКЦИЯ */
  .partner__list-item {
    font-size: 24px;
  }
  .partner__form-decor {
    font-size: 26px;
  }
  .partner__content-img{
    max-width: 380px;
  }

  /* 17 СЕКЦИЯ */
  .search__title {
    font-size: 52px;
  }
  .search__span {
    font-size: 140px;
  }
  .search__text {
    font-size: 26px;
  }
  .search__btn {
    font-size: 26px;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 1490px ==================== */
@media (max-width: 1490px) {
  /* СЕКЦИЯ 1: HERO */
  .hero__container {
    padding: 80px 180px 0 180px;
  }
  .hero__logo-img {
    max-width: 350px;
  }
  .hero__shapes{
    max-height: 500px;
  }
  .shape__img-1{
    max-width: 100px;
  }
  .shape2{
    top: 30%;
    left: 16%;
  }
  .shape__img-2{
    max-width: 80px;
  }
  .shape3{
    top: 22%;
    left: 25%;
  }
  .shape__img-3{
    max-width: 95px;
  }
  .shape4{
    top: 38%;
  }
  .shape__img-4{
    max-width: 75px;
  }
  .shape5{
    top: 10%;
    left: 49%;
  }
  .shape__img-5{
    max-width: 80px;
  }
  .shape6{
    top: 16%;
  }
  .shape__img-6{
    max-width: 150px;
  }
  .shape__img-7{
    max-width: 48px;
  }
  .shape8{
    right: 11%;
  }
  .shape__img-8{
    max-width: 110px;
  }
  .shape__img-9{
    max-width: 120px;
  }
  .shape10{
    right: 25%;
  }
  .shape__img-10{
    max-width: 220px;
  }
  .hero__title {
    max-width: 500px;
    font-size: 60px;
    line-height: 90px;
  }
  .hero__text {
    margin-top: 170px;
  }
  .hero__button-row {
    margin-top: 50px;
  }
  .hero__btn {
    font-size: 26px;
    line-height: 38px;
  }
  .hero__desc {
    font-size: 24px;
    line-height: 34px;
  }

  /* СЕКЦИЯ 2: УСЛУГИ ПРОДВИЖЕНИЯ */
  .promotion__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .promotion__item {
    height: 300px;
  }
  .promotion__item-img{
    max-width: 240px;
    max-height: 190px;
  }
  .promotion__item-title {
    font-size: 20px;
  }

  /* СЕКЦИЯ 3: ПОРТФОЛИО */
  .sites__slider {
    gap: 20px;
    padding: 10px 15px 30px 15px;
  }
  .img-fix {
    height: 500px;
  }
  .sites__item-title {
    font-size: 32px;
  }
  .sites__btn {
    font-size: 22px;
    padding: 18px 40px;
  }

  /* СЕКЦИЯ 4: ЦЕНЫ */
  .prices__box {
    gap: 18px;
  }
  .prices__item {
    width: 220px;
    padding: 25px 20px 20px 20px;
  }
  .prices__item-title {
    font-size: 30px;
  }
  .prices__item-text {
    font-size: 16px;
  }

  /* СЕКЦИЯ 5: АКЦИИ */
  .stoks__form {
    padding: 25px 50px 40px 50px;
  }
  .stoks__form-title {
    font-size: 28px;
  }
  .stoks__form-input,
  .stoks__form-text {
    max-width: 100%;
    padding: 16px 12px;
    margin-bottom: 28px;
  }
  .stoks__form__input::placeholder,
  .stoks__form__text::placeholder {
    font-size: 18px;
  }
  .stoks__btn {
    font-size: 28px;
  }

  /* СЕКЦИЯ 7: КОМПЛЕКС */
  .complex__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
  .complex__item {
    max-width: 100%;
    padding: 25px;
  }
  .complex__item-title {
    font-size: 22px;
  }

  /* СЕКЦИЯ 8: БИЗНЕС */
  .business__items {
    gap: 18px;
  }
  .business__item {
    padding: 24px 26px;
  }
  .business__item-title {
    font-size: 22px;
  }
  .business__item-description {
    font-size: 18px;
  }

  /* СЕКЦИЯ 9: ГАРАНТИИ */
  .warranty__input {
    font-size: 32px;
    padding: 18px 35px 12px 35px;
    height: 80px;
  }
  .warranty__input::placeholder {
    font-size: 32px;
  }
  .warranty__btn {
    font-size: 28px;
    height: 80px;
    padding: 14px 18px;
  }
  .warranty__description {
    font-size: 28px;
  }
  .warranty__text {
    font-size: 28px;
  }

  /* СЕКЦИЯ 10: КАЛЬКУЛЯТОР */
  .calculator__content {
    min-height: 700px; /* Увеличиваем минимальную высоту */
  }
  .calculator__items {
    position: relative; /* Меняем absolute на relative */
    top: -13px; /* Сбрасываем позиционирование */
  }
  .calculator__number {
    width: 220px;
    font-size: 28px;
  }
  .calculator__item-title {
    font-size: 28px;
  }
  .calculator__item-description {
    font-size: 22px;
  }
  .calculator__city-title {
    font-size: 22px;
  }
  .calculator__row-button {
    font-size: 28px;
  }

  /* СЕКЦИЯ 11: КЕЙСЫ */
  .cases__content-item {
    max-width: 420px;
    font-size: 22px;
  }
  .cases__item-title,
  .cases__item-link {
    font-size: 22px;
  }
  .cases__item-text {
    max-width: 400px;
  }
  .cases__text-before,
  .cases__text-after,
  .cases__toggle-title {
    font-size: 22px;
  }
  .cases__p-before,
  .cases__p-after {
    font-size: 22px;
  }
  .graf__title {
    font-size: 22px;
  }
  .graf__number {
    font-size: 20px;
  }
  .graf__item-month.before,
  .graf__item-month.after {
    font-size: 20px;
  }
  /* СЕКЦИЯ 12: КЛЮЧЕВАЯ ИНФОРМАЦИЯ */
  .information__why {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .information__because {
    max-width: 100%;
    padding: 14px 12px;
  }
  .information__because-description {
    font-size: 18px;
    line-height: 26px;
  }

  /* СЕКЦИЯ 13: ЧТО ТАКОЕ СЕО */
  .seo__back {
    height: 700px;
  }

  /* СЕКЦИЯ 14: ВСЁ О СЕО-ПРОДВИЖЕНИИ */
  .blog__content {
    gap: 15px;
  }
  .blog__item {
    height: 350px;
  }
  .blog__item.big-item {
    grid-column: span 2;
  }
  .blog__item-title.big-title {
    font-size: 120px;
  }

  /* СЕКЦИЯ 15: ПРОДВИЖЕНИЕ БЕЗ ПРЕДОПЛАТЫ */
  .free-promotion__top {
    margin-bottom: 60px;
  }
  .free-promotion__title-img {
    max-width: 150px;
    margin-right: 50px;
  }
  .free-promotion__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .free-promotion__item {
    height: 350px;
    padding: 25px;
  }
  .free-promotion__step{
    display: none;
  }
  .free-promotion__item-description {
    font-size: 24px;
    line-height: 30px;
  }
  .free-promotion__step.right {
    right: -40px;
  }
  .free-promotion__step.left {
    left: -40px;
  }
  .free-promotion__promotion {
    padding: 20px 30px 30px 30px;
  }
  .free-promotion__promotion-title {
    font-size: 28px;
  }
  .free-promotion__form {
    flex-direction: column;
    gap: 20px;
  }
  .free-promotion__input {
    font-size: 32px;
    padding: 16px 30px 10px 30px;
    height: 80px;
  }
  .free-promotion__input::placeholder {
    font-size: 32px;
  }
  .free-promotion__btn {
    font-size: 32px;
    height: 80px;
  }

  /* СЕКЦИЯ 16: ХОТИТЕ СТАТЬ НАШИМ ПАРТНЁРОМ? */
  .partner__content {
    flex-direction: column;
    gap: 40px;
  }
  .partner__content-img {
    width: 300px;
    height: auto;
    margin: 0 auto;
  }
  .partner__list {
    max-width: 100%;
  }
  .partner__list-item {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .partner__form {
    padding: 20px 80px 30px 80px;
  }
  .partner__form-title {
    font-size: 18px;
  }
  .partner__form-decor {
    font-size: 28px;
    line-height: 60px;
  }
  .partner__input-row {
    flex-direction: column;
    gap: 20px;
  }
  .partner__form-input,
  .partner__form-text {
    max-width: 100%;
    padding: 16px 12px;
  }
  .partner__form-input::placeholder,
  .partner__form-text::placeholder {
    font-size: 18px;
  }
  .partner__text {
    max-width: 100%;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .partner__btn {
    font-size: 28px;
    padding: 16px 25px;
  }

  /*  СЕКЦИЯ 17: КАК НАС НАЙТИ?  */
  .search__container {
    padding-top: 60px;
  }
  .search__title {
    font-size: 56px;
  }
  .search__span {
    font-size: 140px;
  }
  .search__content {
    flex-direction: column;
    gap: 30px;
  }
  .search__left {
    width: 100%;
  }
  .search__text {
    font-size: 28px;
  }
  .search__text-description {
    margin-bottom: 30px;
  }
  .search__right {
    max-width: 100%;
  }
  .search__map {
    height: 500px;
  }
  .search__btn {
    font-size: 28px;
    padding: 16px 25px;
    max-width: 100%;
  }

  /* ИЗОБРАЖЕНИЯ */
  .work__back {
    width: 100%;
    height: auto;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 1300px ==================== */
@media (max-width: 1300px) {
  /* 1 СЕКЦИЯ */
  .hero__container {
    padding: 100px 180px 0 180px;
  }
  .hero__logo-img {
    max-width: 400px;
  }
  .hero__title {
    font-size: 70px;
    line-height: 85px;
  }
  .hero__text {
    margin-top: 160px;
  }
  .hero__btn {
    font-size: 26px;
    padding: 14px 30px;
  }
  .hero__desc {
    font-size: 24px;
  }

  /* 2 СЕКЦИЯ */
  .promotion__item {
    height: 250px;
  }
  .promotion__item-title {
    font-size: 17px;
  }
  .promotion__item-img {
    max-width: 230px;
  }

  /* 3 СЕКЦИЯ */
  .sites__item-title {
    font-size: 30px;
  }
  .sites__item-img {
    max-height: 480px;
  }
  .img-fix {
    height: 600px;
  }

  /* 4 СЕКЦИЯ */
  .prices__box {
    gap: 15px;
  }
  .prices__item {
    width: 220px;
  }

  /* 5 СЕКЦИЯ */
  .stoks__content-text {
    font-size: 24px;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 1024px ==================== */
@media (max-width: 1024px) {
  /* ОБЩИЕ НАСТРОЙКИ */
  .container {
    padding: 0 80px;
  }
  .hero__container {
    padding: 90px 80px 0 80px;
  }
  .section {
    margin-bottom: 80px;
  }
  .section__title {
    font-size: 40px;
    line-height: 52px;
  }
  .look-all {
    font-size: 20px;
  }
  .section__top {
    margin-bottom: 50px;
  }

  /* 1 СЕКЦИЯ */
  .hero__logo-img {
    max-width: 350px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 72px;
  }
  .hero__text {
    margin-top: 140px;
  }
  .hero__btn {
    font-size: 24px;
    padding: 12px 25px;
    max-width: 400px;
  }
  .hero__desc {
    font-size: 22px;
    line-height: 30px;
  }

  /* Размеры фигур */
  .shape__img-1 {
    max-width: 140px;
  }
  .shape__img-2 {
    max-width: 110px;
  }
  .shape__img-3 {
    max-width: 115px;
  }
  .shape__img-4 {
    max-width: 80px;
  }
  .shape__img-5 {
    max-width: 85px;
  }
  .shape__img-6 {
    max-width: 200px;
  }
  .shape__img-7 {
    max-width: 48px;
  }
  .shape__img-8 {
    max-width: 115px;
  }
  .shape__img-9 {
    max-width: 130px;
  }
  .shape__img-10 {
    max-width: 240px;
  }
  .shape10 {
    bottom: -12%;
    right: 18%;
  }

  /* 2 СЕКЦИЯ */
  .promotion__box {
    gap: 12px;
  }
  .promotion__item {
    height: 230px;
    padding: 12px 0 18px 0;
  }
  .promotion__item-title {
    font-size: 16px;
    line-height: 24px;
  }
  .promotion__item-img {
    max-width: 200px;
    max-height: 150px;
  }

  /* 3 СЕКЦИЯ */
  .sites__slider {
    padding: 8px 15px 30px 15px;
  }
  .sites__item-title {
    font-size: 28px;
    line-height: 60px;
  }
  .sites__item-img {
    max-height: 430px;
  }
  .img-fix {
    height: 550px;
  }
  .sites__btn {
    font-size: 20px;
    padding: 14px 35px;
  }

  /* 4 СЕКЦИЯ */
  .prices__box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .prices__item {
    width: 200px;
  }
  .prices__item-title {
    font-size: 28px;
  }
  .prices__item-text {
    font-size: 14px;
  }

  /* 5 СЕКЦИЯ */
  .stoks__content-text {
    font-size: 22px;
    line-height: 32px;
  }
  .stoks__form {
    padding: 22px 40px 35px 40px;
  }
  .stoks__form-title {
    font-size: 24px;
  }
  .stoks__btn {
    font-size: 24px;
  }

  /* 7 СЕКЦИЯ */
  .complex__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .complex__item {
    max-width: 100%;
  }
  .complex__item-title {
    font-size: 19px;
    line-height: 26px;
  }

  /* 8 СЕКЦИЯ */
  .business__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .business__item {
    grid-column: span 1;
  }
  .business__item-title {
    font-size: 19px;
  }
  .business__item-description {
    font-size: 16px;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 768px (ПЛАНШЕТЫ) ==================== */
@media (max-width: 768px) {
  /* СЕКЦИЯ 1: HERO */
  .hero {
    background: linear-gradient(
      180deg,
      rgba(138, 222, 255, 1),
      rgba(249, 249, 249, 1) 85%
    );
  }
  .hero__container {
    padding: 40px 20px 0 20px;
  }
  .hero__logo {
    margin-bottom: 20px;
  }
  .hero__shapes {
    max-height: 400px;
  }
  .shape {
    display: none;
  }
  .hero__text {
    margin-top: 100px;
  }
  .hero__title {
    max-width: 100%;
    font-size: 48px;
    line-height: 60px;
  }
  .hero__button-row {
    flex-direction: column;
    gap: 20px;
  }
  .hero__btn {
    max-width: 100%;
    font-size: 18px;
    padding: 14px 25px;
  }
  .hero__desc {
    font-size: 16px;
  }

  /* СЕКЦИЯ 2: УСЛУГИ ПРОДВИЖЕНИЯ */
  .promotion__box {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .promotion__item {
    height: 200px;
    padding: 15px 0 20px 0;
  }
  .promotion__item-title {
    font-size: 16px;
  }

  /* СЕКЦИЯ 3: ПОРТФОЛИО */
  .sites__slider {
    flex-direction: column;
    gap: 15px;
    padding: 8px 12px 25px 12px;
  }
  .img-fix {
    height: 300px;
  }
  .sites__item-title {
    font-size: 24px;
  }
  .sites__btn {
    font-size: 16px;
    padding: 12px 30px;
  }

  /* СЕКЦИЯ 4: ЦЕНЫ */
  .prices__box {
    flex-direction: column;
    gap: 15px;
  }
  .prices__item {
    width: 100%;
    padding: 20px 15px 15px 15px;
  }
  .prices__item-title {
    font-size: 24px;
  }
  .prices__item-price {
    font-size: 16px;
  }
  .prices__item-text {
    font-size: 14px;
  }

  /* СЕКЦИЯ 5: АКЦИИ */
  .stoks__content {
    flex-direction: column;
    gap: 20px;
  }
  .stoks__content-text {
    max-width: 100%;
    font-size: 22px;
  }
  .stoks__form {
    max-width: 100%;
    padding: 20px 25px 30px 25px;
  }
  .stoks__form-title {
    font-size: 22px;
  }
  .stoks__form-input,
  .stoks__form-text {
    max-width: 100%;
    padding: 14px 10px;
    margin-bottom: 20px;
  }
  .stoks__form__input::placeholder,
  .stoks__form__text::placeholder {
    font-size: 16px;
  }
  .stoks__btn {
    font-size: 20px;
    padding: 8px 16px;
  }

  /* СЕКЦИЯ 7: КОМПЛЕКС */
  .complex__box {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .complex__item {
    max-width: 100%;
    padding: 20px;
    flex-direction: row;
  }
  .complex__item-title {
    font-size: 18px;
    max-width: 100%;
  }
  .complex__wrap {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  /* СЕКЦИЯ 8: БИЗНЕС */
  .business__items {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .business__item {
    grid-column: span 1;
    padding: 20px 20px;
  }
  .business__item-title {
    font-size: 20px;
  }
  .business__item-description {
    font-size: 16px;
  }

  /* СЕКЦИЯ 9: ГАРАНТИИ */
  .warranty__top {
    flex-direction: column;
    gap: 20px;
  }
  .warranty__description {
    max-width: 100%;
    font-size: 22px;
  }
  .warranty__form {
    flex-direction: column;
    gap: 15px;
    padding: 25px 20px;
  }
  .warranty__input {
    max-width: 100%;
    font-size: 22px;
    padding: 14px 20px 10px 20px;
    height: 60px;
  }
  .warranty__input::placeholder {
    font-size: 22px;
  }
  .warranty__btn {
    max-width: 100%;
    font-size: 22px;
    height: 60px;
  }
  .warranty__text {
    font-size: 20px;
  }

  /* СЕКЦИЯ 10: КАЛЬКУЛЯТОР */
  .calculator__top {
    flex-direction: column;
    gap: 20px;
  }
  .calculator__top-icon {
    margin-right: 0;
  }
  .calculator__content {
    min-height: auto;
  }
  .calculator__steps {
    gap: 10px;
    overflow-x: auto;
  }
  .calculator__number {
    width: auto;
    min-width: 150px;
    font-size: 16px;
    padding: 12px 20px;
  }
  .calculator__items {
    max-width: 100%;
  }
  .calculator__item {
    padding: 15px 25px 20px 25px;
  }
  .calculator__item-title {
    font-size: 20px;
  }
  .calculator__item-description {
    font-size: 16px;
  }
  .calculator__region {
    flex-direction: column;
    gap: 20px;
  }
  .calculator__city-title {
    font-size: 16px;
  }
  .calculator__row-button {
    font-size: 16px;
    padding: 10px 18px;
  }

  /* СЕКЦИЯ 11: КЕЙСЫ */
  .cases__top {
    margin-bottom: 40px;
  }
  .cases__content {
    min-height: auto;
  }
  .cases__content-top {
    gap: 10px;
    overflow-x: auto;
  }
  .cases__content-item {
    max-width: 100%;
    min-width: 140px;
    font-size: 14px;
    padding: 12px 20px;
  }
  .cases__items {
    max-width: 100%;
    top: 50px;
  }
  .cases__item {
    padding: 15px 20px 40px 20px;
  }
  .cases__item-box {
    flex-direction: column;
    gap: 25px;
  }
  .cases__item-left {
    max-width: 100%;
  }
  .cases__item-text {
    max-width: 100%;
  }
  .cases__item-title,
  .cases__item-link {
    font-size: 18px;
  }
  .cases__toggle {
    gap: 25px;
  }
  .cases__text-before,
  .cases__text-after,
  .cases__toggle-title {
    font-size: 16px;
  }
  .cases__p-before,
  .cases__p-after {
    font-size: 16px;
  }
  .cases__item-right {
    max-width: 100%;
  }
  .graf {
    height: 300px;
    margin-left: 0;
  }
  .graf__title {
    font-size: 16px;
  }
  .graf__number {
    font-size: 14px;
  }
  .graf__item-line {
    height: 300px;
  }
  .graf__item-month.before,
  .graf__item-month.after {
    font-size: 14px;
  }
  .cases__item-img {
    height: 300px;
    margin-top: 50px;
  }

  /* СЕКЦИЯ 12: КЛЮЧЕВАЯ ИНФОРМАЦИЯ */
  .information__steps {
    gap: 12px;
  }
  .information__step {
    padding: 12px 20px;
    font-size: 18px;
    min-width: 200px;
  }
  .information__why {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .information__because {
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
  }
  .information__because-ball {
    max-width: 80px;
    height: 80px;
  }
  .information__icon {
    width: 60px;
    height: 60px;
  }
  .information__because-description {
    max-width: 100%;
    font-size: 16px;
    line-height: 22px;
  }

  /* СЕКЦИЯ 13: ЧТО ТАКОЕ СЕО */
  .seo__title {
    margin-bottom: 40px;
  }
  .seo__back {
    height: 400px;
    object-fit: cover;
  }

  /* СЕКЦИЯ 14: ВСЁ О СЕО-ПРОДВИЖЕНИИ */
  .blog__top {
    margin-bottom: 40px;
  }
  .blog__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }
  .blog__item {
    max-width: 100%;
    height: 250px;
  }
  .blog__item.big-item {
    grid-column: span 1;
    height: 200px;
  }
  .blog__item-title.big-title {
    font-size: 80px;
  }

  /* СЕКЦИЯ 15: ПРОДВИЖЕНИЕ БЕЗ ПРЕДОПЛАТЫ */
  .free-promotion__top {
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }
  .free-promotion__title-img {
    margin-right: 0;
    order: -1;
    width: 120px;
  }
  .free-promotion__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
  .free-promotion__item {
    height: 250px;
    padding: 20px;
  }
  .free-promotion__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  .free-promotion-four {
    margin-top: 20px;
  }
  .free-promotion__item-description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .free-promotion__item-description.four {
    margin-bottom: 20px;
  }
  .free-promotion__step {
    padding: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .free-promotion__step.right {
    right: -30px;
  }
  .free-promotion__step.left {
    left: -30px;
  }
  .free-promotion__step-ball {
    width: 50px;
    height: 50px;
  }
  .free-promotion__step-number {
    font-size: 32px;
  }
  .free-promotion__promotion-title {
    font-size: 22px;
    line-height: 30px;
  }
  .free-promotion__input {
    font-size: 22px;
    padding: 14px 20px 8px 20px;
    height: 60px;
  }
  .free-promotion__input::placeholder {
    font-size: 22px;
  }
  .free-promotion__btn {
    font-size: 22px;
    height: 60px;
    padding: 14px 18px;
  }

  /* СЕКЦИЯ 16: ХОТИТЕ СТАТЬ НАШИМ ПАРТНЁРОМ? */
  .partner__top {
    margin-bottom: 40px;
  }
  .partner__content-img {
    width: 250px;
  }
  .partner__list-item {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .partner__form {
    padding: 20px 40px 25px 40px;
  }
  .partner__form-title {
    font-size: 16px;
  }
  .partner__form-decor {
    font-size: 24px;
    line-height: 50px;
  }
  .partner__form-input,
  .partner__form-text {
    padding: 14px 10px;
  }
  .partner__form-input::placeholder,
  .partner__form-text::placeholder {
    font-size: 16px;
  }
  .partner__text {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .partner__btn {
    font-size: 22px;
    padding: 14px 20px;
  }

  /* СЕКЦИЯ 17: КАК НАС НАЙТИ? - АДАПТАЦИЯ  */
  .search__container {
    padding-top: 40px;
  }
  .search__title {
    font-size: 36px;
  }
  .search__span {
    font-size: 80px;
    display: block;
    text-align: center;
    margin: 10px 0 20px 0;
  }
  .search__text {
    font-size: 22px;
    line-height: 32px;
  }
  .search__text-description {
    margin-bottom: 20px;
  }
  .search__map {
    height: 350px;
  }
  .search__btn {
    font-size: 20px;
    padding: 14px 20px;
  }

  /* ИЗОБРАЖЕНИЯ */
  .hero__logo-img {
    max-width: 250px;
  }
  .promotion__item-img {
    width: 60px;
    height: 60px;
  }
  .work__back {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .warranty__icon {
    width: 80px;
    height: 80px;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 490px (МАЛЕНЬКИЕ СМАРТФОНЫ) ==================== */

@media (max-width: 490px) {
  /* СЕКЦИЯ 1: HERO */
  .hero__logo {
    margin-bottom: 15px;
  }
  .hero__shapes {
    max-height: 300px;
  }
  .hero__text {
    margin-top: 70px;
  }
  .hero__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 42px;
  }
  .hero__button-row {
    flex-direction: column;
    gap: 15px;
  }
  .hero__btn {
    max-width: 100%;
    font-size: 14px;
    padding: 12px 20px;
    line-height: 38px;
  }
  .hero__desc {
    font-size: 13px;
    line-height: 35px;
  }

  /* СЕКЦИЯ 2: УСЛУГИ ПРОДВИЖЕНИЯ */
  .promotion__box {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .promotion__item {
    height: 150px;
    padding: 12px 0 15px 0;
  }
  .promotion__item-title {
    font-size: 13px;
  }

  /* СЕКЦИЯ 3: ПОРТФОЛИО */
  .sites__slider {
    flex-direction: column;
    gap: 12px;
    padding: 6px 10px 20px 10px;
  }
  .img-fix {
    height: 200px;
  }
  .sites__item-title {
    font-size: 18px;
  }
  .sites__btn {
    font-size: 13px;
    padding: 10px 20px;
  }

  /* СЕКЦИЯ 4: ЦЕНЫ */
  .prices__box {
    flex-direction: column;
    gap: 12px;
  }
  .prices__item {
    width: 100%;
    padding: 15px 12px 12px 12px;
    height: auto;
  }
  .prices__item-title {
    font-size: 20px;
  }
  .prices__item-price {
    font-size: 14px;
  }
  .prices__item-desc {
    margin-top: 12px;
    margin-bottom: 15px;
    gap: 12px;
    padding-left: 20px;
  }
  .prices__item-text {
    font-size: 12px;
  }
  .prices__btn {
    font-size: 12px;
    padding: 8px 16px;
  }

  /* СЕКЦИЯ 5: АКЦИИ */
  .stoks__top {
    flex-direction: column;
  }
  .stoks__content {
    flex-direction: column;
    gap: 15px;
  }
  .stoks__content-text {
    max-width: 100%;
    font-size: 16px;
  }
  .stoks__list-item {
    margin-bottom: 15px;
  }
  .stoks__form {
    max-width: 100%;
    padding: 15px 15px 20px 15px;
  }
  .stoks__form-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .stoks__form-input,
  .stoks__form-text {
    max-width: 100%;
    padding: 12px 8px;
    margin-bottom: 15px;
  }
  .stoks__form__input::placeholder,
  .stoks__form__text::placeholder {
    font-size: 13px;
  }
  .stoks__btn {
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 15px;
  }
  .stoks__text {
    font-size: 11px;
  }

  /* СЕКЦИЯ 7: КОМПЛЕКС */
  .complex__box {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .complex__item {
    max-width: 100%;
    padding: 15px;
    flex-direction: row;
  }
  .complex__item-title {
    font-size: 14px;
    max-width: 100%;
  }
  .complex__wrap {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  /* СЕКЦИЯ 8: БИЗНЕС */
  .business__items {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .business__item {
    grid-column: span 1;
    padding: 15px 15px;
  }
  .business__item-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .business__item-description {
    font-size: 13px;
  }

  /* СЕКЦИЯ 9: ГАРАНТИИ */
  .warranty__top {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  .warranty__description {
    max-width: 100%;
    font-size: 16px;
  }
  .warranty__form {
    flex-direction: column;
    gap: 12px;
    padding: 15px 15px 20px 15px;
    margin-bottom: 20px;
  }
  .warranty__input {
    max-width: 100%;
    font-size: 16px;
    padding: 12px 15px 8px 15px;
    height: 50px;
  }
  .warranty__input::placeholder {
    font-size: 16px;
  }
  .warranty__btn {
    max-width: 100%;
    font-size: 16px;
    height: 50px;
  }
  .warranty__text {
    font-size: 15px;
  }

  /* СЕКЦИЯ 10: КАЛЬКУЛЯТОР */
  .calculator__top {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
  .calculator__top-icon {
    margin-right: 0;
  }
  .calculator__content {
    min-height: auto;
  }
  .calculator__steps {
    gap: 8px;
    overflow-x: auto;
  }
  .calculator__number {
    width: auto;
    min-width: 110px;
    font-size: 12px;
    padding: 10px 15px;
  }
  .calculator__item {
    padding: 12px 15px 15px 15px;
  }
  .calculator__item-title {
    font-size: 16px;
  }
  .calculator__item-description {
    font-size: 13px;
  }
  .calculator__region {
    flex-direction: column;
    gap: 15px;
  }
  .calculator__city {
    gap: 12px;
  }
  .calculator__city input[type="radio"] {
    width: 20px;
    height: 20px;
  }
  .calculator__city-title {
    font-size: 13px;
  }
  .calculator__row-button {
    font-size: 13px;
    padding: 8px 12px;
  }

  /* СЕКЦИЯ 11: КЕЙСЫ */
  .cases__top {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .cases__title {
    max-width: 100%;
  }
  .cases__content {
    min-height: auto;
  }
  .cases__content-top {
    gap: 8px;
    overflow-x: auto;
  }
  .cases__content-item {
    max-width: 100%;
    min-width: 110px;
    font-size: 12px;
    padding: 10px 15px;
  }
  .cases__items {
    max-width: 100%;
    top: 45px;
  }
  .cases__item {
    padding: 12px 15px 25px 15px;
  }
  .cases__item-box {
    flex-direction: column;
    gap: 15px;
  }
  .cases__item-left {
    max-width: 100%;
  }
  .cases__item-text {
    max-width: 100%;
  }
  .cases__item-title,
  .cases__item-link {
    font-size: 14px;
  }
  .cases__toggle {
    gap: 15px;
  }
  .cases__switch {
    width: 70px;
    height: 38px;
  }
  .cases__slider::before {
    height: 28px;
    width: 28px;
  }
  .cases__input:checked + .cases__slider::before {
    transform: translateX(34px);
  }
  .cases__text-before,
  .cases__text-after,
  .cases__toggle-title {
    font-size: 13px;
  }
  .cases__p-before,
  .cases__p-after {
    font-size: 13px;
  }
  .cases__item-right {
    max-width: 100%;
  }
  .graf {
    height: 200px;
    margin-left: 0;
  }
  .graf__title {
    font-size: 13px;
    margin-top: 20px;
  }
  .graf__number {
    font-size: 11px;
  }
  .graf__item-line {
    height: 200px;
    width: 20px;
  }
  .graf__item-month.before,
  .graf__item-month.after {
    font-size: 11px;
  }
  .cases__item-img {
    height: 200px;
    margin-top: 30px;
  }

  /* СЕКЦИЯ 12: КЛЮЧЕВАЯ ИНФОРМАЦИЯ */
  .information__content {
    margin-top: 40px;
    min-height: auto;
  }
  .information__steps {
    flex-direction: column;
    gap: 8px;
  }
  .information__step {
    max-width: 100%;
    min-width: auto;
    padding: 10px 15px;
    font-size: 16px;
  }
  .information__items {
    position: relative;
    top: 0;
  }
  .information__item {
    padding: 20px 15px;
  }
  .information__why {
    gap: 12px;
  }
  .information__because {
    padding: 15px 12px;
  }
  .information__because-ball {
    max-width: 70px;
    height: 70px;
  }
  .information__icon {
    width: 50px;
    height: 50px;
  }
  .information__because-description {
    font-size: 14px;
    line-height: 20px;
  }

  /* СЕКЦИЯ 13: ЧТО ТАКОЕ СЕО */
  .seo__title {
    margin-bottom: 30px;
    text-align: center;
  }
  .seo__back {
    height: 300px;
  }

  /* СЕКЦИЯ 14: ВСЁ О СЕО-ПРОДВИЖЕНИИ */
  .blog__top {
    margin-bottom: 30px;
  }
  .blog__content {
    gap: 10px;
  }
  .blog__item {
    height: 180px;
  }
  .blog__item.big-item {
    height: 150px;
  }
  .blog__item-title.big-title {
    font-size: 60px;
  }

  /* СЕКЦИЯ 15: ПРОДВИЖЕНИЕ БЕЗ ПРЕДОПЛАТЫ */
  .free-promotion__top {
    margin-bottom: 30px;
    gap: 15px;
  }
  .free-promotion__title {
    text-align: center;
  }
  .free-promotion__title-img {
    width: 100px;
  }
  .free-promotion__content {
    gap: 12px;
  }
  .free-promotion__item {
    height: 200px;
    padding: 15px;
    border-radius: 25px;
  }
  .free-promotion__item-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .free-promotion__item-img.four {
    margin-top: 15px;
  }
  .free-promotion__item-description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .free-promotion__item-description strong {
    font-size: 18px;
  }
  .free-promotion__step {
    padding: 8px;
  }
  .free-promotion__step.right {
    right: -20px;
  }
  .free-promotion__step.left {
    left: -20px;
  }
  .free-promotion__step-ball {
    width: 40px;
    height: 40px;
  }
  .free-promotion__step-number {
    font-size: 24px;
  }
  .free-promotion__promotion {
    padding: 15px 20px 20px 20px;
  }
  .free-promotion__promotion-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .free-promotion__input {
    font-size: 18px;
    padding: 12px 15px 6px 15px;
    height: 50px;
  }
  .free-promotion__input::placeholder {
    font-size: 18px;
  }
  .free-promotion__btn {
    font-size: 18px;
    height: 50px;
    padding: 12px 16px;
  }

  /* СЕКЦИЯ 16: ХОТИТЕ СТАТЬ НАШИМ ПАРТНЁРОМ? - АДАПТАЦИЯ  */
  .partner__top {
    margin-bottom: 30px;
  }
  .partner__content {
    gap: 30px;
    margin-bottom: 25px;
  }
  .partner__content-img {
    width: 200px;
  }
  .partner__list-item {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .partner__form {
    padding: 15px 20px 20px 20px;
  }
  .partner__form-title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .partner__form-decor {
    font-size: 20px;
    line-height: 40px;
  }
  .partner__input-row {
    gap: 15px;
    margin-bottom: 20px;
  }
  .partner__form-input,
  .partner__form-text {
    padding: 12px 8px;
  }
  .partner__form-input::placeholder,
  .partner__form-text::placeholder {
    font-size: 14px;
  }
  .partner__form-text {
    height: 60px;
    margin-bottom: 20px;
  }
  .partner__text {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .partner__btn {
    font-size: 18px;
    padding: 12px 16px;
  }

  /* СЕКЦИЯ 17: КАК НАС НАЙТИ? - АДАПТАЦИЯ */
  .search__container {
    padding-top: 30px;
  }
  .search__title {
    font-size: 28px;
    text-align: center;
  }
  .search__span {
    font-size: 60px;
  }
  .search__text {
    font-size: 18px;
    line-height: 26px;
  }
  .search__text-description {
    margin-bottom: 15px;
  }
  .search__text-decor {
    font-size: 20px;
  }
  .search__text-number {
    font-size: 20px;
  }
  .search__map {
    height: 250px;
    border-radius: 15px;
  }
  .search__btn {
    font-size: 16px;
    padding: 12px 16px;
    max-width: 100%;
  }

  /* ИЗОБРАЖЕНИЯ */
  .hero__logo-img {
    max-width: 180px;
  }
  .promotion__item-img {
    width: 50px;
    height: 50px;
  }
  .work__back {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
  .warranty__icon {
    width: 60px;
    height: 60px;
  }
}

/* ==================== АДАПТАЦИЯ ПОД 390px (САМЫЕ МАЛЕНЬКИЕ ЭКРАНЫ) ==================== */

@media (max-width: 390px) {
  /* СЕКЦИЯ 1: HERO */
  .hero__container {
    padding: 30px 15px 0 15px;
  }
  .hero__logo {
    margin-bottom: 10px;
  }
  .hero__shapes {
    max-height: 250px;
  }
  .hero__text {
    margin-top: 50px;
  }
  .hero__title {
    max-width: 100%;
    font-size: 26px;
    line-height: 35px;
  }
  .hero__button-row {
    flex-direction: column;
    gap: 12px;
  }
  .hero__btn {
    max-width: 100%;
    font-size: 12px;
    padding: 10px 16px;
    line-height: 32px;
  }
  .hero__desc {
    font-size: 11px;
    line-height: 28px;
  }

  /* СЕКЦИЯ 2: УСЛУГИ ПРОДВИЖЕНИЯ */
  .promotion__box {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .promotion__item {
    height: 130px;
    padding: 10px 0 12px 0;
    gap: 12px;
  }
  .promotion__item-title {
    font-size: 12px;
  }

  /* СЕКЦИЯ 3: ПОРТФОЛИО */
  .sites__slider {
    flex-direction: column;
    gap: 10px;
    padding: 5px 8px 15px 8px;
  }
  .img-fix {
    height: 150px;
  }
  .sites__item-title {
    font-size: 16px;
  }
  .sites__btn {
    font-size: 12px;
    padding: 8px 16px;
  }

  /* СЕКЦИЯ 4: ЦЕНЫ */
  .prices__box {
    flex-direction: column;
    gap: 10px;
  }
  .prices__item {
    width: 100%;
    padding: 12px 10px 10px 10px;
    height: auto;
  }
  .prices__item-title {
    font-size: 18px;
  }
  .prices__item-price {
    font-size: 12px;
  }
  .prices__item-desc {
    margin-top: 10px;
    margin-bottom: 12px;
    gap: 10px;
    padding-left: 15px;
  }
  .prices__item-text {
    font-size: 11px;
  }
  .prices__btn {
    font-size: 11px;
    padding: 6px 12px;
  }

  /* СЕКЦИЯ 5: АКЦИИ */
  .stoks__top {
    flex-direction: column;
  }
  .stoks__content {
    flex-direction: column;
    gap: 12px;
  }
  .stoks__content-text {
    max-width: 100%;
    font-size: 14px;
  }
  .stoks__list-item {
    margin-bottom: 12px;
    padding-left: 15px;
  }
  .stoks__form {
    max-width: 100%;
    padding: 12px 12px 15px 12px;
  }
  .stoks__form-title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .stoks__form-input,
  .stoks__form-text {
    max-width: 100%;
    padding: 10px 6px;
    margin-bottom: 12px;
  }
  .stoks__form__input::placeholder,
  .stoks__form__text::placeholder {
    font-size: 12px;
  }
  .stoks__btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 12px;
  }
  .stoks__text {
    font-size: 10px;
  }

  /* СЕКЦИЯ 7: КОМПЛЕКС */
  .complex__box {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .complex__item {
    max-width: 100%;
    padding: 12px;
    flex-direction: row;
  }
  .complex__item-title {
    font-size: 12px;
    max-width: 100%;
  }
  .complex__wrap {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }

  /* СЕКЦИЯ 8: БИЗНЕС */
  .business__items {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .business__item {
    grid-column: span 1;
    padding: 12px 12px;
  }
  .business__item-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .business__item-description {
    font-size: 12px;
  }

  /* СЕКЦИЯ 9: ГАРАНТИИ */
  .warranty__top {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
  }
  .warranty__description {
    max-width: 100%;
    font-size: 14px;
  }
  .warranty__form {
    flex-direction: column;
    gap: 10px;
    padding: 12px 12px 15px 12px;
    margin-bottom: 15px;
  }
  .warranty__input {
    max-width: 100%;
    font-size: 14px;
    padding: 10px 12px 6px 12px;
    height: 44px;
  }
  .warranty__input::placeholder {
    font-size: 14px;
  }
  .warranty__btn {
    max-width: 100%;
    font-size: 14px;
    height: 44px;
  }
  .warranty__text {
    font-size: 13px;
  }

  /* СЕКЦИЯ 10: КАЛЬКУЛЯТОР */
  .calculator__top {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
  }
  .calculator__top-icon {
    margin-right: 0;
  }
  .calculator__content {
    min-height: auto;
  }
  .calculator__steps {
    gap: 6px;
    overflow-x: auto;
  }
  .calculator__number {
    width: auto;
    min-width: 90px;
    font-size: 11px;
    padding: 8px 12px;
  }
  .calculator__items {
    max-width: 100%;
    top: 40px;
  }
  .calculator__item {
    padding: 10px 12px 12px 12px;
  }
  .calculator__item-title {
    font-size: 14px;
  }
  .calculator__item-description {
    font-size: 12px;
  }
  .calculator__region {
    flex-direction: column;
    gap: 12px;
  }
  .calculator__city {
    gap: 10px;
  }
  .calculator__city input[type="radio"] {
    width: 18px;
    height: 18px;
  }
  .calculator__city-title {
    font-size: 12px;
  }
  .calculator__row-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  /* СЕКЦИЯ 11: КЕЙСЫ */
  .cases__top {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .cases__title {
    max-width: 100%;
  }
  .cases__content {
    min-height: auto;
  }
  .cases__content-top {
    gap: 6px;
    overflow-x: auto;
  }
  .cases__content-item {
    max-width: 100%;
    min-width: 90px;
    font-size: 11px;
    padding: 8px 12px;
  }
  .cases__items {
    max-width: 100%;
    top: 40px;
  }
  .cases__item {
    padding: 10px 12px 20px 12px;
  }
  .cases__item-box {
    flex-direction: column;
    gap: 12px;
  }
  .cases__item-left {
    max-width: 100%;
  }
  .cases__item-text {
    max-width: 100%;
  }
  .cases__item-title,
  .cases__item-link {
    font-size: 13px;
  }
  .cases__toggle {
    gap: 12px;
  }
  .cases__switch {
    width: 60px;
    height: 34px;
  }
  .cases__slider::before {
    height: 24px;
    width: 24px;
  }
  .cases__input:checked + .cases__slider::before {
    transform: translateX(30px);
  }
  .cases__text-before,
  .cases__text-after,
  .cases__toggle-title {
    font-size: 12px;
  }
  .cases__p-before,
  .cases__p-after {
    font-size: 12px;
  }
  .cases__item-right {
    max-width: 100%;
  }
  .graf {
    height: 150px;
    margin-left: 0;
  }
  .graf__title {
    font-size: 12px;
    margin-top: 15px;
  }
  .graf__number {
    font-size: 10px;
  }
  .graf__item-line {
    height: 150px;
    width: 15px;
  }
  .graf__item-month.before,
  .graf__item-month.after {
    font-size: 10px;
  }
  .cases__item-img {
    height: 150px;
    margin-top: 20px;
  }

  /* СЕКЦИЯ 12: КЛЮЧЕВАЯ ИНФОРМАЦИЯ */
  .information__step {
    font-size: 14px;
    padding: 8px 12px;
  }
  .information__because {
    padding: 12px 10px;
  }
  .information__because-ball {
    max-width: 60px;
    height: 60px;
  }
  .information__icon {
    width: 40px;
    height: 40px;
  }
  .information__because-description {
    font-size: 12px;
    line-height: 18px;
  }

  /* СЕКЦИЯ 13: ЧТО ТАКОЕ СЕО */
  .seo__back {
    height: 250px;
  }

  /* СЕКЦИЯ 14: ВСЁ О СЕО-ПРОДВИЖЕНИИ */
  .blog__item {
    height: 150px;
  }
  .blog__item.big-item {
    height: 120px;
  }
  .blog__item-title.big-title {
    font-size: 40px;
  }

  /* СЕКЦИЯ 15: ПРОДВИЖЕНИЕ БЕЗ ПРЕДОПЛАТЫ */
  .free-promotion__title-img {
    width: 80px;
  }
  .free-promotion__item {
    height: 180px;
    padding: 12px;
    border-radius: 20px;
  }
  .free-promotion__item-img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }
  .free-promotion__item-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .free-promotion__item-description strong {
    font-size: 16px;
  }
  .free-promotion__step {
    padding: 6px;
  }
  .free-promotion__step.right {
    right: -15px;
  }
  .free-promotion__step.left {
    left: -15px;
  }
  .free-promotion__step-ball {
    width: 35px;
    height: 35px;
  }
  .free-promotion__step-number {
    font-size: 20px;
  }
  .free-promotion__promotion-title {
    font-size: 16px;
    line-height: 22px;
  }
  .free-promotion__input {
    font-size: 16px;
    padding: 10px 12px 4px 12px;
    height: 44px;
  }
  .free-promotion__input::placeholder {
    font-size: 16px;
  }
  .free-promotion__btn {
    font-size: 16px;
    height: 44px;
    padding: 10px 14px;
  }

  /* СЕКЦИЯ 16: ХОТИТЕ СТАТЬ НАШИМ ПАРТНЁРОМ? - АДАПТАЦИЯ  */
  .partner__content-img {
    width: 150px;
  }
  .partner__list-item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .partner__form {
    padding: 12px 15px 15px 15px;
  }
  .partner__form-title {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .partner__form-decor {
    font-size: 18px;
    line-height: 35px;
  }
  .partner__form-input,
  .partner__form-text {
    padding: 10px 6px;
  }
  .partner__form-input::placeholder,
  .partner__form-text::placeholder {
    font-size: 13px;
  }
  .partner__text {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .partner__btn {
    font-size: 16px;
    padding: 10px 14px;
  }

  /* СЕКЦИЯ 17: КАК НАС НАЙТИ? - АДАПТАЦИЯ */
  .search__title {
    font-size: 24px;
  }
  .search__span {
    font-size: 50px;
  }
  .search__text {
    font-size: 16px;
    line-height: 22px;
  }
  .search__text-decor {
    font-size: 18px;
  }
  .search__text-number {
    font-size: 18px;
  }
  .search__map {
    height: 200px;
    border-radius: 10px;
  }
  .search__btn {
    font-size: 14px;
    padding: 10px 14px;
  }

  /* ИЗОБРАЖЕНИЯ */
  .hero__logo-img {
    max-width: 140px;
  }
  .promotion__item-img {
    width: 45px;
    height: 45px;
  }
  .work__back {
    width: 100%;
    height: auto;
    max-height: 250px;
  }
  .warranty__icon {
    width: 50px;
    height: 50px;
  }
}
